body {
  /* background: rgb(230, 247, 247); */
  background: whitesmoke;
  font-size: 15px;
  margin: 0 auto;
  padding: 0;
}

.main-app {
  /* from App component */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar-newsdetail-container {
  /* from App component */
  margin: 20px;
  display: flex;
  flex-direction: row;

  /* display: grid;
  grid-template-columns: 500px 500px; */
}

.side-bar-container {
  /* from App component */

  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: 3vh;
}

.heading-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  margin-top: 17vh;
}

/* .heading {
  align-self: center;
} */

.sidebar-content {
  /* from SideBar component */

  /* border: 1px solid black; */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.288);
  margin: 8px;
  height: 50vh;
  padding: 20px;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: rgb(231, 226, 226);
}

.sidebar-content .weather-date {
  font-weight: 600;
}

.weather-date {
  width: 120px;
}

.icons-description-container {
  /* from SideBar component */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  margin: 5px;
  padding: 10px;
  background-color: rgba(228, 211, 211, 0.377);
  /* background color with reduced opacity */
}

.news-detail-container {
  /* from NewsDetail component */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 18vh;
  background: rgba(211, 211, 211, 0.137);
  padding: 20px;
}

.news-info-container {
  /* from NewsDetail component */
  width: 300px;
  height: 350px;
  /* border: 1px solid rgba(0, 0, 0, 0.411); */
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.795);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.288);
  cursor: pointer;
  display: flex; /* to separate the title and the image */
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* makes sure some misaligned imaged stay in the middle */
  transition: width 0.2s, height 0.2s, transform 0.4s, box-shadow 0.5s;
  /* text-align: center; */
}

/* Make the cards transition on mouse over */
.news-info-container:hover {
  /* width: 315px;
  height: 360px; */
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.288);
  /* transform: rotate(3deg); */
}

.news-title {
  /* from NewsDetail component */
  /* this keeps the text from growing in size when the it's container size grows during transitioning */
  height: 100px;
  width: 300px;
}

.image-container img {
  /* from NewsDetail component */
  max-width: 300px;
  height: 200px;
}

/* Styling the NavBar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.685);
  color: white;
  padding: 10px;
  width: 100vw;
}

.title-container {
  margin-left: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.heading {
  color: whitesmoke;
}

.sub-heading {
  color: rgba(255, 255, 255, 0.829);
}

.search-container {
  margin-right: 20px;
}

.topnav input {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.button {
  padding: 6px 10px;
  margin-right: 16px;
  background: rgb(199, 110, 110);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* from NewsDetail component */
a.news-detail-link {
  text-decoration: none;
  color: black;
}

@media (max-width: 750px) {
  body {
    font-size: 1.2em;
  }
  .topnav {
    width: 180%;
  }
}
